body {
  text-align: center;
}

div.profile {
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 66px;
  vertical-align: top;
  background-color: aliceblue;
  border-radius: 15px;
}

.profile h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  margin: 0
}

div.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 100%;
}

footer {
  display: block;
  width: 100%
}