body {
	text-align: center;
}

div.header {
	color: black;
	font-family: "Cuprum";
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: normal;
}

div.map {
	text-align: center;
	display: inline-block;
}