body {
  background-color: white;
}

div.head {
  text-align: center;
  color: black;
}

div.tab {
  text-align: center;
  background-color: powderblue;
}

div.entry {
	text-align: center;
	border-radius: 25px;
	width: 700px;
	display: inline-block;
	margin: auto;
	background-color: powderblue;
}

div.bullets {
	text-align: left;
}

.button2 {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div.taylor * {
	background-color: white;
	color: white;
}