body {
  background-color: white;
}

div.head {
  text-align: center;
  color: black;
}

div.tab {
  text-align: center;
  background-color: gold;
}

.button2 {
  border: none;
  color: blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.row {
	width: 100%;
	text-align: center;
}

/* Fake image */
.img {
  align: middle;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
