body {
  background-color: white;
}

div.head {
  text-align: center;
  color: black;
}

div.tab {
  text-align: center;
  background-color: powderblue;
}

.button2 {
  border: none;
  color: blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.checked {
  color: orange;
}

div.entry {
	max-width: 700px;
	min-width: 100px;
	display: inline-block;
	margin: auto;
}

.row {
	width: 100%;
	text-align: center;
}

.img {
  align: middle;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
