body {
  background-color: white;
}

div.head {
  text-align: center;
  color: black;
}

div.tab {
  text-align: center;
  background-color: gold;
}

div.entry {
	border-radius: 25px;
	max-width: 700px;
	min-width: 100px;
	display: inline-block;
	margin: auto;
	background-color: powderblue;
}


.button2 {
  border: none;
  color: blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div.taylor * {
	background-color: white;
	color: white;
}
