body {
  background-color: white;
}

div.head {
  text-align: center;
  color: black;
}

div.tab {
  text-align: center;
  background-color: powderblue;
}

.button2 {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
