<!DOCTYPE html>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="{{ '/styles/styles.css' | prepend:site.url }}">

        <!-- Favicon -->
        <link rel="icon" href="{{site.url}}{{site.baseurl}}/assets/img/favicon.ico" type="image/gif" sizes="16x16">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
        <link rel="manifest" href="../assets/img/site.webmanifest">
        <link rel='icon' sizes='512×512' href='../assets/img/android-chrome-512x512.png' / >
        <link rel='icon' sizes='128×128' href='../assets/img/android-chrome-192x192.png' / >
    </head>
    
    <body>
        <div id="container">
            <h1 class="global-title"><center><a href={{site.url}}><img style="vertical-align:middle" src="{{ site.greeting_image }}" alt="{{ site.title }}" class="avatar" /></a><br><b>{{ site.title }}</b></center></h1>

            <p class="social-tab">
            {% if site.twitter_username %}
            <a href="http://twitter.com/{{ site.twitter_username }}" class="fab fa-twitter" 
            rel="noopener noreferrer" 
            target="_blank"></a>
            {% endif %} {% if site.instagram_username %}
            <a href="http://instagram.com/{{ site.instagram_username }}" class="fab fa-instagram"
            rel="noopener noreferrer" 
            target="_blank"></a>
            {% endif %} {% if site.github_username %}
            <a href="http://github.com/{{ site.github_username }}" class="fab fa-github"
            rel="noopener noreferrer" 
            target="_blank"></a>
            {% endif %} {% if site.linkedin_username %}
            <a href="http://linkedin.com/in/{{ site.linkedin_username }}" class="fab fa-linkedin-in"
            rel="noopener noreferrer" 
            target="_blank"></a>
            {% endif %} {% if site.strava_username %}
            <a href="https://www.strava.com/athletes/{{ site.strava_username }}" class="fab fa-strava"
            rel="noopener noreferrer" 
            target="_blank"></a>
            {% endif %}
            </p>

            {% if site.nav-links %}
            <nav>
                <ul>
                    {% for link in site.nav-links %}
                    <li>
                        {% if link.external == true %}
                        <a href="{{ link.url }}">
                        {% endif %}
                        {% if link.external != true %}
                        <a href="{{ link.url | prepend:site.url }}">
                        {% endif %}
                            {{ link.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
