body {
  text-align: center;
  background-color: #F2F2F7;
}

a {
  text-decoration: none;
}

div.pic {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 225px;
  height: 225px;
  vertical-align: top;
  padding-bottom: 20px;
}

.pic img {
  width: 195px;
  height: 195px;
  border-radius: 50%;
}


div.profile {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 150px;
  vertical-align: top;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  border-style: ridge;
  border-radius: 15px;
  padding-bottom: 50px;
}

.profile h6 {
  color: white;
  margin: 10px;
  font-size: 1px;
}

.profile h2 {
  font-family: 'Avenir Black';
  font-size: 35;
  text-align: center;
  margin: 15px;
  font-weight: normal;
}

.profile h3 {
  font-family: 'Avenir Black';
  font-size: 30;
  text-align: center;
  margin: 15px;
  font-weight: normal;
}

.profile h5 {
  font-family: 'Avenir Black';
  font-size: 10;
  text-align: center;
  margin: 15px;
  font-weight: normal;
}

div.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  box-shadow: 5px 10px #888888;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}