body {
  text-align: center;
}

div.pic {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  vertical-align: top;
  padding-bottom: 20px;
}

.pic img {
  width: 180px;
  height: 180px;
}


div.profile {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 66px;
  vertical-align: top;
  background-color: aliceblue;
  border-radius: 15px;
  padding-bottom: 50px;
}

.profile h6 {
  color: white;
  margin: 10px;
  font-size: 1px;
}

.profile h5 {
  font-family: 'Avenir Black';
  font-size: 20;
  text-align: center;
  margin: 15px;
}

div.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

footer {
  padding-top: 50px;
  display: block;
  width: 100%
}